* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #404a65;
  color: #ecedf0;
  margin-top: 3rem;
}
#title {
  font-family: 'Kanit', sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 4rem;

  text-shadow: 2px 2px 0px #35383f;
  -webkit-text-stroke-width: 5px;
  -webkit-text-stroke-color: #35383f;
}
#game-area {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  height: 70vh;
  justify-content: space-evenly;
}
p {
  font-family: 'Kanit', sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 1.25rem;
}
button {
  height: 50px;
  width: 7rem;
  color: #ecedf0;
  background-color: #1f6fb0;
  font-family: 'Kanit', sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 1.25rem;
  border: none;
  border-radius: 14px;
  box-shadow: 0px 4px 0px 0px #23649b;
}
button:hover {
  background-color: #417eaf;
}
.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  height: 100vh;
}
.author-info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
}
#instructions {
  font-family: 'Kanit', sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 1.5rem;
}

/* responsive */

@media only screen and (max-width: 480px) {

    body {
      margin-top: 1.5rem;
    }
  
    .container {
      height: auto;
      padding: 1rem;
    }
  
    #title {
      font-size: 2.5rem;
      -webkit-text-stroke-width: 3px;
      text-align: center;
    }
  
    #game-area {
      height: auto;
      gap: 1.5rem;
      justify-content: center;
    }
  
    p,
    #instructions {
      font-size: 1.1rem;
      text-align: center;
    }
  
    button {
      width: 100%;
      max-width: 240px;
      height: 55px;
      font-size: 1.1rem;
    }
  
    .author-info {
      margin-top: 1rem;
      font-size: 0.9rem;
    }
  }
  
